@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Outfit:wght@400;500;600;700&display=swap');
*, *::after, *::before {
    box-sizing: border-box;
}

*:root {
    --body-background: #1A2A33;
    --squares-background: #1F3641;
    --blue-button-hover: #65E9E4;
    --blue-button:  #31C3BD;
    --orange-button: #F2B137;
    --orange-button-hover: #FFC860;
    --silver: #A8BFC9;
    --boxes-border-bottom: #16232b;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Outfit;
    background-color: var(--body-background);
}



h3, h5, p, div {
    margin: 0px;
}

#start-container {
    /* border: 1px solid white; */
    width: 460px;
    height: 390px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-background);
}


#heading {
    margin-top: 5px;
    width: 72px;
    height: 32px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}

.x-winner-logo {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.x-winner-logo::after, .x-winner-logo::before {
    content: '';
    position: absolute;
    background-color: var(--blue-button-hover);
    transform: rotate(45deg);
}

.x-winner-logo::after {
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -15%;
}

.x-winner-logo::before {
    left: 50%;
    width: 8px;
    margin-left: -15%;
    height: 100%;
}

.o-winner-logo {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 8px solid var(--orange-button);
}

#x-logo {
    position: relative;
    width: 30px;
    height: 30px;
    display: inline-block;
}

#x-logo::after, #x-logo::before {
    content: '';
    position: absolute;
    background-color: var(--blue-button-hover);
    transform: rotate(45deg);
}

#x-logo::before {
    left: 50%;
    width: 8px;
    margin-left: -15%;
    height: 100%;
}

#x-logo::after {
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -15%;
}

#o-logo {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 8px solid var(--orange-button);
}

#mark-chose {
    width: 99%;
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--squares-background);
    border-radius: 10px;
    border-bottom: 5px solid var(--boxes-border-bottom);
    box-sizing: border-box;
    margin-top: 0px;
}

#player1, #note {
    text-transform: uppercase;
    color: var(--silver);
    font-weight: 800;
}



#note {
    width: 171px;
    font-size: 12px;
    opacity: 0.5;
    font-weight: 700;
}

#choice-container {
    height: 60px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A2A33;
    border-radius: 10px;
}

.choice-box {
    height: 50px;
    width: 47%;
    color: var(--silver);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 2.5em;
    font-weight: 800;
    cursor: pointer;
}

.choice-box:hover {
    background-color: #a8bfc944; 
    color: #1A2A33 ;
}




.choice-box:hover > #x-box::before {
    background-color: #1A2A33;
}

.choice-box:hover > #x-box::after {
    background-color: #1A2A33;
}

.choice-box:focus > #x-box::before {
    background-color: #1A2A33;
}

.choice-box:focus > #x-box::after {
    background-color: #1A2A33;
}

#x-box {
    position: relative;
    width: 30px;
    height: 30px;
}

#x-box::after, #x-box::before {
    content: '';
    position: absolute;
    background-color: #A8BFC9;
    transform: rotate(45deg);
}

#x-box::before {
    left: 50%;
    width: 8px;
    margin-left: -15%;
    height: 100%;
}

#x-box::after {
    top: 50%;
    width: 100%;
    height: 8px;
    margin-top: -15%;
}

#o-box {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    box-sizing: border-box;
    border: 8px solid #A8BFC9;
}

.choice-box:hover > #o-box {
    border-color: #1A2A33;
}

.choice-box:focus > #o-box {
    border-color: #1A2A33;
}

.choice-box:active, .choice-box:focus {
    background-color: var(--silver); 
    color: #1A2A33 ;
}


#new-game-cpu {
    background-color: var(--orange-button);
    border-radius: 10px;
    height: 40px;
    width: 99%;
    margin-top: 20px;
    border: none;
    border-bottom: 5px solid #d89b2a;
    font-weight: 800;
    cursor: pointer;
}

#new-game-cpu:hover {
    background-color: var(--orange-button-hover);
    border-bottom: 5px solid #F2B137;
}

#new-game-player {
    background-color: var(--blue-button);
    border-radius: 10px;
    height: 40px;
    width: 99%;
    margin-bottom: 5px;
    border: none;
    border-bottom: 5px solid #1a7e7a;
    font-weight: 800;
    cursor: pointer;
}


#new-game-player:hover {
    background-color: var(--blue-button-hover);
    border-bottom: 5px solid #1a7e7a;
}

#second-page {
    display: none;
    position: relative;
}


#game-container {
    width: 400px;
    height: 460px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--body-background);
    /* border: 1px solid white; */
}

#top-section {
    padding-left: 2px;
    padding-right: 2px;
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

#whos-turn {
    margin-left: -30px;
    height: 100%;
    width: 120px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: var(--silver);
    background-color: var(--squares-background);
    border-bottom: 2px solid var(--boxes-border-bottom);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#who { 
    margin-right: 10px;
}

.whos-turn-circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 5px solid var(--silver);
    box-sizing: border-box;

}

.whos-turn-cross {
    height: 20px;
    width: 20px;
    position: relative;
    transform: rotate(45deg);
    margin-top: -3px;
}

.whos-turn-cross::after, .whos-turn-cross::before {
    content: '';
    background-color: var(--silver);
    position: absolute;
}

.whos-turn-cross::after {
    left: 50%;
    margin-top: 0%;
    height: 100%;
    width: 5px;
}

.whos-turn-cross::before {
    top: 38%;
    margin-left: 10%;
    height: 5px;
    width: 100%;
    /* transform: translate(-50%, -50%); */
}

#restart-button {
    width: 40px;
    height: 100%;
    padding: 5px;
    background-color: var(--silver);
    color: var(--body-background);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-bottom: 2px solid #83949b;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button i {
    display: inline-block;
    margin-top: 15px;
    width: 25px;
    height: 25px;
    color: var(--body-background);
    cursor: pointer;
}

#restart-button:hover {
    background-color: #bcced6;
}

#game-section {
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 10px;
    margin-bottom: 10px;
}

.boxes {
    width: 120px;
    height: 100px;
    background-color: var(--squares-background);
    border-bottom: 5px solid var(--boxes-border-bottom);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.boxes.cross,
.boxes.circle {
    cursor: not-allowed;
}

#scores-section {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.scores {
    width: 120px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    border: none;
    border-radius: 10px;
}

#p1-score {
    background-color: var(--blue-button);
}

.scores > h5 {
    font-weight: 500;
    font-size: 10px;
    margin-top: 10px;
}

.scores > p {
    font-weight: 700;
    margin-bottom: 10px;
}

#p2-score {
    background-color: var(--orange-button);
}

#ties-score {
    background-color: var(--silver);
}

.cross {
    position: relative;
}


.game-section.cross-mark > .boxes
.game-section.cross-mark > .boxes{
    position: absolute;
}

.game-section.cross-mark > .boxes:not(.cross):not(.circle):hover::before,
.game-section.cross-mark > .boxes:not(.cross):not(.circle):hover::after {
    content: '';
    position: absolute;
    background-color: var(--squares-background);
    border: 2px solid var(--blue-button);
    transform: rotate(45deg);
} 

.game-section.cross-mark > .boxes:not(.cross):not(.circle):hover::before {
    width: 60%;
    height: 10px;
    top: 45%;
    margin-right: 5%;
}


.game-section.cross-mark > .boxes:not(.cross):not(.circle):hover::after {
    left: 45%;
    margin-top: 0%;
    width: 10px;
    height: 70%;
}


.cross::after, .cross::before {
    content: '';
    position: absolute;
    background-color: var(--changeCrossAfter, #31C3BD);
    transform: rotate(45deg);
}

.cross::after {
    left: 45%;
    margin-top: 0%;
    width: 10px;
    height: 70%;
}

.cross::before {
    width: 60%;
    height: 10px;
    top: 45%;
    margin-right: 5%;
}

.circle {
    position: relative;
}

.game-section.circle-mark > .boxes:not(.circle):not(.cross):hover::after,
.circle::after {
    content: '';
    height: 60%;
    width: 50%;
    margin: auto;
    border: 12px solid var(--changeCircleAfter, #F2B137);
    border-radius: 50%;
}

.game-section.circle-mark > .boxes:not(.circle):not(.cross):hover::after {
    border: 12px solid  #f2b13765;
}

.circle-after {
    position: relative;
}

.circle-after::after {
    content: '';
    height: 60%;
    width: 52%;
    margin: auto;
    border: 12px solid #1F3641;
    border-radius: 50%;
}

.game-results-display {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.719);
    display: none;
    justify-content: center;
    align-items: center;
}

#results-display {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--squares-background);
}

#win-lose {
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    font-size: 12px;
}

#who-won {
    font-size: 26px;
    font-weight: 800;
    color: var(--orange-button);
    display: flex;
    align-items: center;
}

.winner-mark {
    margin-right: 15px;
}

#buttons {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#quit-button {
    cursor: pointer;
}

#restart-new-game-button {
    cursor: pointer;
}

.silver-button {
    width: 60px;
    background-color: var(--silver);
    text-align: center;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid #647379;
    cursor: pointer;
}

.silver-button:hover {
    background-color: #bcced6;
}


.orange-button {
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 120px;
    background-color: var(--orange-button);
    border-bottom: 2px solid #b48122;
    cursor: pointer;
}

.orange-button:hover {
    background-color: var(--orange-button-hover);
}

.show {
    display: flex;
}

.restart-game-section {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.719);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inner-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--squares-background);
}

#restart-question {
    font-size: 36px;
    letter-spacing: 0.2px;
    font-weight: 800;
    color: var(--silver);
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

#restart-buttons {
    width: 260px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 0px;
}

#no-button {
    width: 120px;
    cursor: pointer;
}

#yes-button {
    width: 120px;
    cursor: pointer;
}


@media screen and (max-width: 424px){

    #start-container {
        /* border: 1px solid white; */
        width: 325px
    }

    #game-container {
        margin: auto;
        width: 320px;
    }

    #whos-turn {
        width: 100px;
    }

    #heading {
        width: 65px;
        margin-left: 5px;
    }

    .boxes {
        width: 96px;
    }

    .scores {
        width: 95px;
    }

    .cross::after {
        left: 45%;
        margin-top: 20%;
        margin-bottom: 15%;
        width: 10px;
        height: 60%;
    }
    
    .cross::before {
        width: 63%;
        height: 10px;
        top: 45%;
        margin-right: 5%;
        margin-left: 5%;
    }
    
    .circle::after {
        content: '';
        height: 50%;
        width: 50%;
        margin: auto;
        border: 12px solid var(--orange-button);
        border-radius: 50%;
    }

    #restart-question {
        font-size: 22px;
    }

    #restart-buttons {
        width: 250px;
    }
    
    #no-button {
        width: 115px;
    }
    
    #yes-button {
        width: 115px;
    }

    #restart-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #restart-button i {
        display: inline-block;
        width: 25px;
        height: 25px;
        color: var(--body-background);
    }

    #who-won {
        font-size: 22px;
    }
}

@media screen and (min-width: 425px) and (max-width: 480px){
    #start-container {
        /* border: 1px solid white; */
        width: 380px
    }
}